h1 {
  font-family: system-ui, 'Helvetica Neue', sans-serif;
}

img {
  border-radius: 8px;
}

.lucide {
  width: 16px;
  margin-right: 1px;
  vertical-align: top;
}

#logo {
  display: inline-block;
  vertical-align: bottom;

  width: 50px;
  height: 50px;
  margin: -5px -5px -5px -10px;

  mix-blend-mode: difference;
}

a:has(#logo) {
  text-decoration: none;
}

#background {
  width: 1000px;
  height: 1000px;
  transform: scale(1.1);

  position: fixed;
  bottom: -375px;
  right: -165px;

  opacity: 5%;

  mix-blend-mode: difference;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  #background {
    opacity: 3%;
  }
}

@media only screen and (max-width: 1024px) {
  #background {
    display: none;
  }
}
