.feather {
  width: 16px;
  margin-right: 1px;
  vertical-align: top;
}

a:has(#logo) {
  text-decoration: none;
}

#logo {
  display: inline-block;
  vertical-align: bottom;

  width:  50px;
  height: 50px;
  margin: -5px -5px -5px -10px;

  mix-blend-mode: difference;
}

#background {
  width:     1000px;
  height:    1000px;
  transform: scale(1.1);

  position: absolute;
  bottom:   -375px;
  right:    -165px;

  opacity:    0.05;
  transition: opacity 0.075s linear;

  mix-blend-mode: difference;
}

body:has(#background) {
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (max-width: 1024px) {
  #background {
    opacity: 0;
  }
}
