<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ page.title | default(value="Octalwise") }}</title>

        {% block head %} {% endblock %}

        <script src="https://unpkg.com/lucide"></script>

        <link rel="stylesheet" href="https://raven.ayukmr.com/raven.css">
        <link rel="stylesheet" href="/styles.css">

        <link
            rel="icon"
            href="/assets/icon.png"
            media="(prefers-color-scheme: light)"
        >
        <link
            rel="icon"
            href="/assets/icon-dark.png"
            media="(prefers-color-scheme: dark)"
        >
    </head>

    <body>
        <main>
            {% block content %} {% endblock %}
        </main>

        <script>lucide.createIcons();</script>
    </body>
</html>
