{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<header>
    {{ macros::title(title="Octalwise") }}

    <p>Software company of <a href="https://ayukmr.com">Ayush Kumar</a>.</p>
</header>

<section>
    <h2>Apps</h2>

    <a href="tracks">Tracks</a>, native iOS and Android apps for live Caltrain tracking.

    <br>

    <a href="acidity">Acidity</a>, a Safari extension for navigating to archived versions of pages.

    <br>

    <a href="fleuron">Fleuron</a>, an Android app for the Miniflux feed reader.

    <br>

    <a href="bleed">Bleed</a>, a macOS app that shows a low battery screen effect.
</section>

<section>
    <h2>Accounts</h2>

    <i data-lucide="github"></i>
    <a href="https://github.com/octalwise">GitHub</a>

    <br>

    <i data-lucide="cloud"></i>
    <a href="https://apps.apple.com/us/developer/octalwise/id1717359953">App Store</a>

    <br>

    <i data-lucide="play"></i>
    <a href="https://play.google.com/store/apps/developer?id=Octalwise">Play Store</a>

    <br>

    <i data-lucide="mail"></i>
    <a href="mailto:contact@octalwise.com">Mail</a>
</section>

<img id="background" src="/assets/background.svg">
{% endblock %}
