{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<header>
    {{ macros::title(title="Octalwise") }}

    Software company of <a href="https://ayukmr.com">Ayush Kumar</a>.
</header>

<section>
    <h2>Apps</h2>

    <a href="tracks">Tracks</a>, an iOS app for live Caltrain tracking and trip planning.

    <br>

    <a href="acidity">Acidity</a>, a Safari extension for navigating to archived versions of pages.
</section>

<section>
    <h2>Accounts</h2>

    <i data-lucide="github"></i>
    <a href="https://github.com/octalwise">GitHub</a>

    <br>

    <i data-lucide="cloud"></i>
    <a href="https://apps.apple.com/us/developer/octalwise/id1717359953">App Store</a>

    <br>

    <i data-lucide="mail"></i>
    <a href="mailto:contact@octalwise.com">Mail</a>
</section>

<img id="background" src="/assets/background.svg">
{% endblock %}
